.mainframe {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

#landing-page {
    width: 100%;
    height: 100%;
    background-image: url("map.jpg");
    background-color: white;
    position: absolute;
    background-position: center;
}

#input-page {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
    background-color: #ADA8B6;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

.inputFields {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.destLoc {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#info-frame {
    width: 10%;
    padding: 10px;
    text-align: left;
}

#people-coming {
    font-size: 12px;
    list-style: none;
    padding-left: 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.person-info {
    background-color: lightgrey;
    border: none;
    border-radius: 4px;
    padding: 5px;
}

.person-info-title {
    font-weight: bold;
    font-size: 14px;
}

.person-info-time {
    font-size: 10px;
}

#week-frame {
    height: 100%;
    width: 90%;
}

#days-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 90%;
    border: 1px solid black;
    overflow-y: scroll;
}

#days-toolbar {
    height: 10%;
    padding: 12px;
}

#days-toolbar-left {
    float: left;
    width: 25%;
}

#days-toolbar-right {
    float: right;
    width: 25%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.week-day {
    width: auto;
    flex-grow: 1;
    text-align: center;
}

.day-name {
    font-size: 14px;

}

.events-pane {
    text-align: center;
}

.event {
    margin: 8px;
    padding: 5px;
    text-align: center;
    background: rgb(238, 238, 238);
}

.event-title {
    font-weight: bold;
}

.event-add-button-wrap {
    display: none;
    width: 7%;
    float: bottom;
}

.event-add-button {
    width: 80%;
}

#budget-frame {
    display: none;
    height: 100%;
    width: 25%;
    overflow-y: scroll;
}

.budget-frame-header {
    height: 10%;
    display: flex;
    flex-direction: row;
}

.budget-add-button {
    margin: 10px;
}

.section-title {
    font-size: 20px;
    height: 10%;
    padding-top: 15px;
    width: 50%;
    text-align: center;
}

#budget-items {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.budget-total-wrap {
    width: 100%;
    position: sticky;
    bottom: 0;
    text-align: center;
    padding: 10px;
    background: lightgray;
}

#directory-flight {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: scroll;
}

.flightContainer{
    width: 350px;
    height: 275px;
    background-color: #da7170;
    margin: 5px;
    padding: 2px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: flex;
}

.flightContainer h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

.flightContainer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;

}

.flightContainer:hover, .flightContainer:focus {
    outline: 0;
    box-shadow: 0px 5px 10px #7a3b3b;
}

#directory-accomodations {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: scroll;
}

.accomodationsContainer{
    width: 200px;
    height: 150px;
    background-color: #da7070;
    margin: 5px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.accomodationsContainer img {
    width: 120px;
    height: 120px;
    overflow: hidden;
    padding: 10px;
    margin: 1px;
    object-fit: cover;
}

.accomodationsContainer:hover, .accomodationsContainer:focus {
    outline: 0;
    box-shadow: 0px 5px 10px #7a3b3b;
}

.titles {
    justify-content: center;
}

.titles h1 {
    font-family: Helvetica;
    font-size: 20px;
    padding: 5px;
}

.titles p {
    font-family: Arial;
    font-size: 15px;
    padding: 5px;
}
